<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>COBOL Dependency Graph | View Graph</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">

  <style>
    .links line {
      stroke: #999;
    }

    .nodes circle {
      stroke: #fff;
    }

    text {
      font-family: sans-serif;
      font-size: 10px;
    }
  </style>
</head>
<body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>




<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.9.0/dist/highlightjs-line-numbers.min.js"></script>
<script src="https://unpkg.com/highlightjs-cobol/dist/cobol.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('pre code').forEach((block) => {
      hljs.highlightBlock(block);
      hljs.lineNumbersBlock(block);
    });
  });
</script>


<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/}">COBOL Dependency Graph</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" th:href="@{/}">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle " role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Upload
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item " th:href="@{/upload/file}">Upload file</a></li>
              <li><a class="dropdown-item" aria-disabled="true" th:href="@{/upload/folder}">Upload folder</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/view}">View Graph</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <hr>
  <form action="/view/viewgraph" method="post">
    <div class="form-group">
      <label for="options">Choose an option:</label>
      <select id="options" name="filename" class="form-control">
        <th:block th:each="filename : ${filenames}">
          <option th:value="${filename}" th:text="${filename}"></option>
        </th:block>
      </select>
      <input type="hidden" id="selectedOption" name="selectedOption" th:value="${selectedOption}">
    </div>
    <button type="submit" class="btn btn-success">Show Graph</button>
  </form>

  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      var selectedOption = document.getElementById('selectedOption').value;
      if (selectedOption) {
        document.getElementById('options').value = selectedOption;
      }
    });

    document.getElementById('options').addEventListener('change', function() {
      document.getElementById('selectedOption').value = this.value;
    });
  </script>

  <hr>

  <div class="mb-5" th:if="${jsonData != null}" style="height: 100%; width: 100%;">

    <div id="accordionLegend" class="mb-5">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseLegend" aria-controls="collapseLegend" aria-expanded="false">
              Enable or disable whole groups
            </button>
          </h5>
        </div>
        <div id="collapseLegend" class="collapse" data-parent="#accordionLegend">
          <div class="card-body">
            <div id="legend"></div>
          </div>
        </div>
      </div>
    </div>

    <div id="accordionGroups" class="mb-5">
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseGroups" aria-controls="collapseGroups" aria-expanded="false">
              Enable or disable specific nodes
            </button>
          </h5>
        </div>
        <div id="collapseGroups" class="collapse" data-parent="#accordionGroups">
          <div class="card-body">
            <div id="legendGroups"></div>
          </div>
        </div>
      </div>
    </div>



    <form action="/view/updateGraph" method="post">
      <button id="updateGraphButton" class="btn btn-secondary mb-5">Update Graph</button>
    </form>
    <div class="pb-1">
      <div class="row">
        <div class="col">
          <p>Size:</p>
        </div>
        <div class="col">
          <p>Link length:</p>
        </div>
        <div class="col">
          <p>Save svg:</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button id="+" class="btn btn-info">+</button>
          <button id="-" class="btn btn-info">-</button>
        </div>
        <div class="col">
          <button id="link-+10" class="btn btn-info">+</button>
          <button id="link--10" class="btn btn-info">-</button>
        </div>
        <div class="col">
          <button id="saveAsPNG" class="btn btn-info">Save as png</button>
        </div>
      </div>
    </div>

    <script>
      document.getElementById('saveAsPNG').addEventListener('click', function(event) {
        event.preventDefault();

        var svg = document.querySelector('svg');
        var svgData = new XMLSerializer().serializeToString(svg);

        var canvas = document.createElement('canvas');
        var ctx = canvas.getContext('2d');

        var svgSize = svg.getBoundingClientRect();
        var scaleFactor = 10;
        canvas.width = svgSize.width * scaleFactor;
        canvas.height = svgSize.height * scaleFactor;

        ctx.scale(scaleFactor, scaleFactor);

        var img = new Image();
        img.setAttribute('src', 'data:image/svg+xml;base64,' + btoa(svgData));

        img.onload = function() {
          ctx.drawImage(img, 0, 0);

          var downloadLink = document.createElement('a');
          downloadLink.href = canvas.toDataURL('image/png');
          downloadLink.download = 'graph.png';

          document.body.appendChild(downloadLink);
          downloadLink.click();
          document.body.removeChild(downloadLink);
        };
      });
    </script>

    <script>
      document.getElementById('updateGraphButton').addEventListener('click', function(event) {
        event.preventDefault();

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkboxData = {};
        checkboxes.forEach(function(checkbox) {
          checkboxData[checkbox.id] = checkbox.checked;
        });
        console.log(checkboxData)

        var filename = document.getElementById('options').value;
        checkboxData['filename'] = filename;

        $.ajax({
          type: 'POST',
          url: '/view/updateGraph',
          contentType: 'application/json',
          data: JSON.stringify(checkboxData),
          success: function(response) {
            console.log('Daten erfolgreich gesendet:', response);
            updateGraph(response);
          },
          error: function(error) {
            console.error('Fehler beim Senden der Daten:', error);
          }
        });
      });

      document.getElementById('+').addEventListener('click', function(event) {

        event.preventDefault();

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkboxData = {};
        checkboxes.forEach(function(checkbox) {
          checkboxData[checkbox.id] = checkbox.checked;
        });

        var filename = document.getElementById('options').value;
        checkboxData['filename'] = filename;

        $.ajax({
          type: 'POST',
          url: '/view/updateGraph',
          contentType: 'application/json',
          data: JSON.stringify(checkboxData),
          success: function(response) {
            console.log('Daten erfolgreich gesendet:', response);
            circle_radius += 1;
            label_font_size += 1;
            updateGraph(response);
          },
          error: function(error) {
            console.error('Fehler beim Senden der Daten:', error);
          }
        });


      });

      document.getElementById('-').addEventListener('click', function(event) {

        event.preventDefault();

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkboxData = {};
        checkboxes.forEach(function(checkbox) {
          checkboxData[checkbox.id] = checkbox.checked;
        });

        var filename = document.getElementById('options').value;
        checkboxData['filename'] = filename;

        $.ajax({
          type: 'POST',
          url: '/view/updateGraph',
          contentType: 'application/json',
          data: JSON.stringify(checkboxData),
          success: function(response) {
            console.log('Daten erfolgreich gesendet:', response);
            circle_radius -= 1;
            label_font_size -= 1;
            updateGraph(response);
          },
          error: function(error) {
            console.error('Fehler beim Senden der Daten:', error);
          }
        });
      });

      document.getElementById('link-+10').addEventListener('click', function(event) {
        event.preventDefault();

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkboxData = {};
        checkboxes.forEach(function(checkbox) {
          checkboxData[checkbox.id] = checkbox.checked;
        });

        var filename = document.getElementById('options').value;
        checkboxData['filename'] = filename;

        $.ajax({
          type: 'POST',
          url: '/view/updateGraph',
          contentType: 'application/json',
          data: JSON.stringify(checkboxData),
          success: function(response) {
            console.log('Daten erfolgreich gesendet:', response);
            link_distance += 10;
            updateGraph(response);
          },
          error: function(error) {
            console.error('Fehler beim Senden der Daten:', error);
          }
        });
      });

      document.getElementById('link--10').addEventListener('click', function(event) {
        event.preventDefault();

        var checkboxes = document.querySelectorAll('input[type="checkbox"]');
        var checkboxData = {};
        checkboxes.forEach(function(checkbox) {
          checkboxData[checkbox.id] = checkbox.checked;
        });

        var filename = document.getElementById('options').value;
        checkboxData['filename'] = filename;

        $.ajax({
          type: 'POST',
          url: '/view/updateGraph',
          contentType: 'application/json',
          data: JSON.stringify(checkboxData),
          success: function(response) {
            console.log('Daten erfolgreich gesendet:', response);
            link_distance -= 10;
            updateGraph(response);
          },
          error: function(error) {
            console.error('Fehler beim Senden der Daten:', error);
          }
        });
      });

    </script>

    <svg style="border: 1px solid black;"></svg>
    <script src="https://d3js.org/d3.v4.min.js"></script>

    <script th:inline="javascript">

      var group_colors = {};
      var circle_radius = 5;
      var label_font_size = 7;
      var link_distance = 100;

      var width = 1200;
      var height = 1200;

      function updateGraph(jsonString){
        var svg = d3.select("svg")
        .attr("viewBox", `0 0 `+ width + ` ` + height);

        svg.selectAll("*").remove();


        svg.append("rect")
        .attr("width", "100%")
        .attr("height", "100%")
        .attr("fill", "white");

        var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(link_distance))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));


        var graph = JSON.parse(jsonString);

        var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter().append("line")
        .attr("stroke", "#999")
        .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("g")
        .data(graph.nodes)
        .enter().append("g");


        var circles = node.append("circle")
        .attr("r", circle_radius)
        .attr("fill", function(d) { return group_colors[d.group]; });

        var drag_handler = d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended);

        drag_handler(node);

        var labels = node.append("text")
        .text(function(d) {
          return d.id;
        })
        .attr('x', 6)
        .attr('y', 3)
        .style("font-size", label_font_size + "px");

        node.append("title")
        .text(function(d) { return d.id; });

        simulation
        .nodes(graph.nodes)
        .on("tick", ticked);

        simulation.force("link")
        .links(graph.links);

        function ticked() {
          link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

          node
          .attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          });
        }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }
      }


      function createGraph(jsonString){
        var svg = d3.select("svg")
        .attr("viewBox", `0 0 `+ width + ` ` + height);

        var color = d3.scaleOrdinal(d3.schemeCategory20);

        var simulation = d3.forceSimulation()
        .force("link", d3.forceLink().id(function(d) { return d.id; }).distance(link_distance))
        .force("charge", d3.forceManyBody())
        .force("center", d3.forceCenter(width / 2, height / 2));

        svg.append("rect")
        .attr("width", "100%")
        .attr("height", "100%")
        .attr("fill", "white");

        var graph = JSON.parse(jsonString);

        graph.nodes.forEach(function(node) {
          var groupColor = color(node.group);
          group_colors[node.group] = groupColor;
        });

        var group_names = {
          0: "Root",
          1: "Program",
          2: "Paragraph",
          3: "COPY",
          4: "CALL",
          5: "FILE",
          6: "FILENAME",
          7: "WSVARIABLE",
          8: "WSSUBVARIABLE",
          9: "FSVARIABLE",
          10: "FSSUBVARIABLE",
          11: "LKVARIABLE",
          12: "LKSUBVARIABLE",
          13: "LSVARIABLE",
          14: "LSSUBVARIABLE",
          15: "ADD",
          16: "SUBTRACT",
          17: "MULTIPLY",
          18: "DIVIDE",
          19: "IF",
          20: "PERFORM",
          21: "Keine Zuordnung"
        };

        Object.keys(group_names).forEach(key => {
          if (!group_colors.hasOwnProperty(key)) return;
          var color = group_colors[key];
          var name = group_names[key];
          var checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.id = key;
          checkbox.style.color = color;
          checkbox.checked = true;
          var label = document.createElement("label");
          label.htmlFor = checkbox.id;
          label.innerHTML = '■ ' + name;
          label.style.color = color;
          var container = document.createElement("div");
          container.appendChild(checkbox);
          container.appendChild(label);
          document.getElementById("legend").appendChild(container);
        });

        Object.entries(group_names).forEach(([key, name]) => {
            var accordionGroups = document.createElement("div");
            accordionGroups.id = "accordionGroups"+key;
            accordionGroups.style.display = "none";

            var card = document.createElement("div");
            card.className = "card";

            var cardHeader = document.createElement("div");
            cardHeader.className = "card-header";

            var h5 = document.createElement("h5");

            var button = document.createElement("button");
            button.className = "btn btn-link";
            button.setAttribute("data-toggle", "collapse");
            button.setAttribute("data-target", "#collapseGroup"+key);
            button.setAttribute("aria-controls", "collapseGroup"+key);
            button.setAttribute("aria-expanded", "false");
            button.innerHTML = name;

            h5.appendChild(button);

            cardHeader.appendChild(h5);

            card.appendChild(cardHeader);

            var collapseDiv = document.createElement("div");
            collapseDiv.id = "collapseGroup"+key;
            collapseDiv.className = "collapse";
            collapseDiv.setAttribute("data-parent", "#accordionGroups"+key);

            var cardBody = document.createElement("div");
            cardBody.className = "card-body";

            var legendNodes = document.createElement("p");
            legendNodes.id = "legendNodes"+key;

            cardBody.appendChild(legendNodes);
            collapseDiv.appendChild(cardBody);
            card.appendChild(collapseDiv);
            accordionGroups.appendChild(card);

            document.getElementById('legendGroups').appendChild(accordionGroups);
        });

        graph.nodes.forEach(node => {
          var color = group_colors[node.group];
          var checkbox = document.createElement("input");
          checkbox.type = "checkbox";
          checkbox.id = node.id;
          checkbox.checked = true;

          var label = document.createElement("label");
          label.htmlFor = checkbox.id;
          label.innerHTML = node.id;
          label.style.color = color;

          var container = document.createElement("div");
          container.appendChild(checkbox);
          container.appendChild(label);

          document.getElementById("legendNodes"+node.group).appendChild(container);

          document.getElementById("accordionGroups"+node.group).style.display = "block";

        });

        var link = svg.append("g")
        .attr("class", "links")
        .selectAll("line")
        .data(graph.links)
        .enter().append("line")
        .attr("stroke", "#000000")
        .attr("stroke-width", function(d) { return Math.sqrt(d.value); });

        var node = svg.append("g")
        .attr("class", "nodes")
        .selectAll("g")
        .data(graph.nodes)
        .enter().append("g");

        var circles = node.append("circle")
        .attr("r", circle_radius)
        .attr("fill", function(d) { return group_colors[d.group]; });

        var drag_handler = d3.drag()
        .on("start", dragstarted)
        .on("drag", dragged)
        .on("end", dragended);

        drag_handler(node);

        var labels = node.append("text")
        .text(function(d) {
          return d.id;
        })
        .attr('x', 6)
        .attr('y', 3)
        .style("font-size", label_font_size + "px");

        node.append("title")
        .text(function(d) { return d.id; });

        simulation
        .nodes(graph.nodes)
        .on("tick", ticked);

        simulation.force("link")
        .links(graph.links);

        function ticked() {
          link
          .attr("x1", function(d) { return d.source.x; })
          .attr("y1", function(d) { return d.source.y; })
          .attr("x2", function(d) { return d.target.x; })
          .attr("y2", function(d) { return d.target.y; });

          node
          .attr("transform", function(d) {
            return "translate(" + d.x + "," + d.y + ")";
          });
        }

        function dragstarted(d) {
          if (!d3.event.active) simulation.alphaTarget(0.3).restart();
          d.fx = d.x;
          d.fy = d.y;
        }

        function dragged(d) {
          d.fx = d3.event.x;
          d.fy = d3.event.y;
        }

        function dragended(d) {
          if (!d3.event.active) simulation.alphaTarget(0);
          d.fx = null;
          d.fy = null;
        }
      }

    </script>
    <script th:inline="javascript">
      /*<![CDATA[*/

      var jsonString = /*[[${jsonData}]]*/;
      createGraph(jsonString);

      /*]]>*/
    </script>
    <hr>

    <div id="accordionProgramFiles">
      <p>Program files</p>
      <th:block th:each="entry, iter : ${programFiles}">

        <div class="card">
          <div th:attr="id='headingProgramFiles' + ${iter.index}" class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" th:attr="data-target='#collapseProgramFiles' + ${iter.index}, aria-controls='collapseProgramFiles' + ${iter.index}" aria-expanded="false">
                <p th:text="${entry.key}"></p>
              </button>
            </h5>
          </div>
          <div th:attr="id='collapseProgramFiles' + ${iter.index}, aria-labelledby='headingProgramFiles' + ${iter.index}" class="collapse" data-parent="#accordionProgramFiles">
            <div class="card-body">
              <pre><code class="cobol" th:text="${entry.value}"></code></pre>
            </div>
          </div>
        </div>
      </th:block>
    </div>
    <hr>
    <div th:if="${otherFiles != null}" id="accordionOtherFiles">
      <p>Other files</p>
      <th:block th:each="entry, iter : ${otherFiles}">

        <div class="card">
          <div th:attr="id='headingOtherFiles' + ${iter.index}" class="card-header">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" th:attr="data-target='#collapseOtherFiles' + ${iter.index}, aria-controls='collapseOtherFiles' + ${iter.index}" aria-expanded="false">
                <p th:text="${entry.key}"></p>
              </button>
            </h5>
          </div>
          <div th:attr="id='collapseOtherFiles' + ${iter.index}, aria-labelledby='headingOtherFiles' + ${iter.index}" class="collapse" data-parent="#accordionOtherFiles">
            <div class="card-body">
              <pre><code class="cobol" th:text="${entry.value}"></code></pre>
            </div>
          </div>
        </div>
      </th:block>
    </div>
  </div>



</div>

</body>
</html>